@import
        "normalize",
        "foundation/settings",
        "partials/settings-override",
        "foundation",

        "partials/custom.scss";


// @media #{$small-only} {
//     body{background-color: #FBFF8E;}
// }
// @media #{$medium-only} {
//     body{background-color: #FFB872;}
// }
// @media #{$large-only} {
//     body{background-color: #FF7272;}
// }
// @media #{$xlarge-only} {
//     body{background-color: green;}
// }


body {
    overflow-x: hidden;
}

.site-cont {
   background-color: white;
   position: relative;
}

@madia screen {
  .site-cont:after {
     background-color: red;
     position: absolute;
     content: "";
     top: 20px;
     right: -203px;
     width: 205px;
     height: 680px;
     background-image: url("../images/icons/pattern.png");
  }
}

@media screen and (max-width: 960px){
    body{background-color: #FBFF8E;}
}

@media screen and (min-width: 961px) and (max-width: 1280px){
    body{background-color: #D64445;}
  .site-cont {
    padding-left: 180px;
    padding-right: 80px;
    width: calc(780px + 180px);
  }
}

@media screen and (min-width: 1281px) and (max-width: 1980px){
    body{background-color: #D64445;}
  .site-cont {
    width: auto;
    padding-left: 180px;
    padding-right: 80px;
    margin-right: 320px;
    min-width: calc(780px + 180px);
  }
}

.top-bar .name .brand-logo {
    padding-left: 0;
}