@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,500,700,900&subset=latin,cyrillic);

@import
        "normalize",
        "foundation/settings",
        "partials/settings-override",
        "foundation",

        "partials/custom.scss";

// --------------- base -------------------
@import "partials/base/typography.scss";

// --------------- components -------------
@import "partials/components/top-bar.scss";

// --------------- layout -----------------
@import "partials/layout/grid.scss",
        "partials/layout/header.scss",
        "partials/layout/footer.scss";


.project-thumbnail {}
.project-thumbnail-image {}
.project-thumbnail-title {
    line-height: 1;
    margin: 15px 0 4px;
}
.project-thumbnail-type {
    margin: 0;
}

.full-width-border {
    border-top: 1px solid scale-color($secondary-font-color, $lightness: 60%);
    margin-top: 10px;
}

.image-product-detail {
    margin-bottom: 25px;
}

.description-product-detail { 
    @include clearfix();

    margin-bottom: 50px;
}

.body-text {
    color: $body-font-color;
}

.reveal-modal {
    padding-left: 0;

    .brand-logo {
        display: inline-block;
        margin: 40px 0 80px 40px;
    }
}

.popup-site-nav {
    @include side-nav(
        $link-color: #FFFFFF,
        $link-color-hover: #00C000,
        $link-color-active: #28A828,
        $font-size: rem-calc(53)
    );

    li {
        a {
            border-left: 5px solid transparent;
            line-height: rem-calc(50);
            transition: all 0.25s ease-in;
        }

        &:hover > a,
        &.active > a {
            color: #00C000;
            border-left-color: #00C000;
        }
    }
}