/*------------------------------------*\
    #GRID
\*------------------------------------*/

/** Website dimensions declared in settings-override.scss
 *
 * small:   (0 - 640px)
 * medium:  (641px - 960px)
 * large:   (961px - 1280px)
 * xlarge:  (1281px - 1920px)
 * xxlarge: (1921px - 99999999px)
 */

$xmedium-up: "#{$screen} and (min-width:1600px)" !default;

@media #{$small-up} {
    .site-container {
        padding-left: 35px;
        padding-right: 35px;
    }
}

@media #{$large-only} {
    .site-container {
        padding-left: 185px;
        padding-right: 75px;
        width: calc(780px + 165px);
    }
}

@media #{$xlarge-only} {
    .site-container {
        width: auto;
        padding-left: 185px;
        padding-right: 75px;
        margin-right: 320px;
        min-width: calc(780px + 185px);
    }
}
